
<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>プラカフェ沖縄 l 見学会&amp;説明会</title>
<meta name="description" content="">
<meta name="robots" content="noindex,nofollow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//assets.peraichi.com/template_root/v2/template_files/css/style.css?1678420209" rel="stylesheet">

<script src="//assets.peraichi.com/js/const_common.js"></script><script src="//assets.peraichi.com/js/const_production.js"></script><script src="//webfont.fontplus.jp/accessor/script/fontplus.js?5qoPx6QyJ8k%3D&aa=1" charset="utf-8"></script>
<link rel="icon" href="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f473e03824d/original.png">
<meta property="og:image" content="https://cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/ogp/1255342.png">
<meta property="og:url" content="http://puracafe-okinawa-1.hp.peraichi.com"><script type="text/javascript" src="//assets.peraichi.com/js/libs/lazysizes.min.js?1678420209"></script><script type="text/javascript" src="//assets.peraichi.com/js/lazyLoad.js?1678420209"></script><script type="text/javascript" src="//assets.peraichi.com/cjs/dist/peraichi_setting.js?1678420570"></script></head>
  <body class="theme-base theme-blank template-theme-default" data-template-name="blank" data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true" style="overflow: auto; padding-top: 104px;">
        <div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-29">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63fa0748e8213/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="s_navigation_fixed p-header-fixed pera1-section block" data-structure="b-header-fb-like-btn--fixed" data-block-name="左テキスト(2段)+ボタン（上部固定）" id="section-21">
  <div class="p-header">
    <div class="grid-wrapper grid-wrapper--lg">
      <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
        <div class="row middle-xs center-xs">
          <div class="col-xs-12 col-sm-10 start-xs">
            <div class="u-mbsm pera1-removable">
              
            </div>
            
          </div>
          <div class="col-xs-12 col-sm end-xs pera1-removable">
            <div class="c-btn c-btn--full"><a class="pera1-editable" href="https://www.puracafeokinawa.com/freebriefingsession" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">『見学会&amp;説明会』ご予約はこちら</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-3">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63d4a5914c769/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-39">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f474510f2fc/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-28">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-4">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f3a08cde0f4/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--6" data-block-name="区切り線(手書き6)" id="section-51">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <hr class="c-hr-origin c-hr-origin--6" data-structure="e-hr-origin--6">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f48657c4bb9/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn--type-3" data-block-name="ボタン3" id="section-48">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn p-premium-btn--type-3 u-fsxxl"><a class="pera1-editable" href="https://www.puracafeokinawa.com/freebriefingsession" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">日程確認・ご予約 は<br>こちら</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-53">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--6" data-block-name="区切り線(手書き6)" id="section-52">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
    <hr class="c-hr-origin c-hr-origin--6" data-structure="e-hr-origin--6">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-6">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f474ef986ba/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-40">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f3a153555ba/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-9">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f9dcf8acdfe/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-34">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63fa0877b8249/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-35">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f9ddc430f20/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn" data-block-name="ボタン" id="section-46">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="15">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn u-fsxxl"><a class="pera1-editable" href="https://www.voice.puracafe.net/" data-structure="e-btn" target="_blank" style="background-color: rgb(244, 126, 0);">【会員さんの声】<br>  をもっと見る</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-43">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="16">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-7">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="17">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f9ddfe59ab6/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-58">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="18">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--4" data-block-name="区切り線(手書き4)" id="section-54">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="19">
    <hr class="c-hr-origin c-hr-origin--4" data-structure="e-hr-origin--4">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-32">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="20">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f4752f5860d/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-23">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="21">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f9de85a322d/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-49">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="22">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63f9df3e2fd02/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-44">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="23">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--6" data-block-name="区切り線(手書き6)" id="section-55">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="24">
    <hr class="c-hr-origin c-hr-origin--6" data-structure="e-hr-origin--6">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-25">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="25">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63fa086e81788/original.PNG" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-premium-btn--type-3" data-block-name="ボタン3" id="section-47">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="26">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner-md c-inner--one-elem c-inner--vertical">
        <div class="p-premium-btn p-premium-btn--type-3 u-fsxxl"><a class="pera1-editable" href="https://www.puracafeokinawa.com/freebriefingsession" data-structure="e-btn" target="_blank" style="background-color: rgb(204, 14, 100);">『 見学会&amp;説明会 』<br>ご予約はこちら</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-small pera1-section block" data-structure="b-hr--blank-space-small" data-block-name="余白(小・20px)" id="section-56">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(20px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="27">
    <div class="p-hr--blank-space-small__inner c-inner c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-origin--6" data-block-name="区切り線(手書き6)" id="section-57">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="28">
    <hr class="c-hr-origin c-hr-origin--6" data-structure="e-hr-origin--6">
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-14">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="29">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="//cdn.peraichi.com/userData/61f7a42c-0fc0-44ac-838f-12240a000a2a/img/63fa090869093/original.png" alt="" data-structure="e-img" style="">
        </div>
        
        
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="30">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable">Copyright © 2023 プラカフェ株式会社 All Right Reserved.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  





































































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script><script src="https://analytics.peraichi.com/scripts/beacon.min.js?tracking_codes=Pp0e8UnE5Vtwd4E"></script>
</body></html>
